<!doctype html>
<html lang="{{ site.lang }}">
  <!-- Head -->
  <head>
    {% if page.redirect %}
      {% if page.redirect == true %}
        {% assign redirect = site.baseurl | append: '/' %}
      {% elsif page.redirect contains '://' %}
        {% assign redirect = page.redirect %}
      {% else %}
        {% assign redirect = page.redirect | relative_url %}
      {% endif %}
      <meta http-equiv="refresh" content="3; url={{ redirect }}">
    {% endif %}
    {% include head.liquid %}
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">
    <!-- Header -->
    {% include header.liquid %}

    <!-- Content -->
    <div class="container mt-5" role="main">
      {% if page.toc and page.toc.sidebar %}
        {% if page.toc.sidebar == 'right' %}
          <div class="row">
            <!-- main content area -->
            <div class="col-sm-9">{{ content }}</div>
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3">
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
          </div>
        {% else %}
          <div class="row">
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3">
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
            <!-- main content area -->
            <div class="col-sm-9">{{ content }}</div>
          </div>
        {% endif %}
      {% else %}
        {{ content }}
      {% endif %}
    <!-- Inizio Codice ShinyStat -->
        <script src="//codice.shinystat.com/cgi-bin/getcod.cgi?USER=SS-53561023-84070"></script>
        <noscript>
        <a href="https://www.shinystat.com/it/" target="_top">
        <img src="//www.shinystat.com/cgi-bin/shinystat.cgi?USER=SS-53561023-84070" alt="Statistiche web" style="border:0px" /></a>
        </noscript>
    <!-- Fine Codice ShinyStat -->
    </div>

    <!-- Footer -->
    {% include footer.liquid %}

    <!-- JavaScripts -->
    {% include scripts/jquery.liquid %}
    {% include scripts/bootstrap.liquid %}
    {% include scripts/masonry.liquid %}
    {% include scripts/mermaid.liquid %}
    {% include scripts/diff2html.liquid %}
    {% include scripts/leaflet.liquid %}
    {% include scripts/chartjs.liquid %}
    {% include scripts/echarts.liquid %}
    {% include scripts/vega.liquid %}
    {% include scripts/tikzjax.liquid %}
    {% include scripts/misc.liquid %}
    {% include scripts/badges.liquid %}
    {% include scripts/mathjax.liquid %}
    {% include scripts/analytics.liquid %}
    {% include scripts/progressBar.liquid %}
    {% include scripts/wechatModal.liquid %}
    {% include scripts/imageLayouts.liquid %}
    
    <!-- Visitor Map JavaScript -->
    {% if page.layout == 'about' %}
      <script
        defer
        src="https://unpkg.com/leaflet@{{ site.leaflet.version }}/dist/leaflet.js"
        integrity="{{ site.leaflet.integrity.js }}"
        crossorigin=""
      ></script>
      <script defer src="{{ '/assets/js/visitor-analytics.js' | relative_url | bust_file_cache }}"></script>
      <script defer src="{{ '/assets/js/visitor-map.js' | relative_url | bust_file_cache }}"></script>
    {% endif %}
    
    <!-- Google Analytics Test (for debugging) -->
    {% if site.enable_google_analytics %}
      <script defer src="{{ '/assets/js/ga-test.js' | relative_url | bust_file_cache }}"></script>
    {% endif %}
  </body>
</html>
